NODE_ENV=development
HOST=0.0.0.0
PORT=3000
LOG_LEVEL=info
DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
DATABASE_NAME=stylenyagrowthos
DATABASE_USER=StylenyaGrowthOS_db
DATABASE_PASSWORD=replace-with-local-app-password
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=5432
TEST_DATABASE_NAME=stylenyagrowthos
TEST_DATABASE_USER=StylenyaGrowthOS_db_test
TEST_DATABASE_PASSWORD=replace-with-local-test-password
